@import url(//db.onlinewebfonts.com/c/6d32b8e06f40fb7698cfb714b9e7975d?family=BillabongW00-Regular);

#instagram_text{
    font-family: 'Billabong', sans-serif;
                                                
    text-align: center;
    font-size: 800%;
    height: auto;
    font-weight: bold;
    letter-spacing: 8px;
}

    @font-face{
        font-family: "BillabongW00-Regular";
         src: url("//db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.eot"); 
         src: url("//db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.eot?#iefix") 
         format("embedded-opentype"), 
         url("//db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.woff2") 
         format("woff2"), url("//db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.woff")
          format("woff"), url("//db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.ttf")
           format("truetype"), 
           url("//db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.svg#BillabongW00-Regular") format("svg"); 
        }

*{
    margin: 0;
    padding: 0;

}
header{
    height: 130px;
    background: linear-gradient(to bottom right,#be3480 , #ea5544);
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    

}
#head-div{
    height: 130px;
    background: linear-gradient(to bottom right,#be3480 , #ea5544);
    padding:25px;
    width:90%;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    

}
h2{
    font-size: 17px;
    font-weight: bold;
    color:white;
}

p{
    color: white;
    /* text-align: center; */
}
#head-get p{
    position: absolute;
    right: 50px;
    text-align: right;
    padding: 10px 25px; font-size: 40px; 
    border: 5px solid white;
    color: white;
    border-radius: 8px;
    font-size: 35px;

}


#div-form{
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: block;
}
form{

    margin-left: auto;
    margin-right: auto;

}
form input{
    width: 98%;
    padding: 28px;
    margin: 8px;
    border: 1px solid grey;
    background-color: #E8F0FE;
    font-size: 30px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#Submit{
    width: 98%;
    padding: 15px;
    margin: 8px;
    border: 1px solid grey;
    background-color: #E8F0FE;
    font-size: 40px;
    border-radius: 8px;
    color: white;
    background-color: rgb(41, 50, 182);
    background-color:#1877f2;
    font-weight: bold;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#new-btn{
    padding: 25px;
    background-color:#00a400;
    color: white;
    width:auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: xx-large;
    font-weight: bold;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    text-align: center;
    /* margin-left: 30%; */
}

