*{
    margin: 0;
    padding:0;
}

h3{
    font-weight: bold;
    font-size:200% ;
    color: green;
}
#header{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-bottom: 2px solid green;
}
#container{
    width: 80%;
    height: auto;
    border: 2px solid green;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
}
#container h1{
    font-size: 4em;
    padding: 25px;
    text-align: center;
    font-weight: bold;
    color: green;
    border-bottom: rgb(3, 58, 3) px solid;
}
a{
    text-decoration: none;
}
#btn-div{

    height: auto;
}


button{
    width: 70%;
    height: auto;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 2em;
    border-radius: 20px;
    color: white;
    background: linear-gradient(to bottom right,rgb(15, 148, 15) , rgb(0, 202, 0));
    transition-duration: 0.4s;
}
button:hover{
    background: white;
    border: green;
    color: green;
}
#btn1{
    background-color:#1877f2;

}
#btn2{
    background: linear-gradient(to bottom right,#be3480 , #ea5544);

}


